name: "Bookshelf Action: Close Issue"
on:
  issues:
    types: [closed]
jobs:
  bookshelf-action:
    name: Bookshelf Action
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run Bookshelf Action
        uses: AnandChowdhary/bookshelf-action@HEAD
        with:
          command: "onCloseIssue"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Dispatch AnandChowdhary/everything update
        uses: benc-uk/workflow-dispatch@v1.2.2
        with:
          repo: AnandChowdhary/everything
          workflow: api.yml
          token: ${{ secrets.WORKFLOW_DISPATCH_TOKEN }}
